@mixin flex($direction:row,$justify:center,$flex-wrap:wrap){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: $flex-wrap;
}

@mixin flex2($direction:column,$justify:center,$flex-wrap:wrap){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: $flex-wrap;
}

@mixin imgHeader {
    width: 80px;
    margin-left: 120px;
}
@mixin img {
    width: auto;
    height: 300px;

    flex-wrap: wrap;
    object-fit:cover;
    object-position:center;
    }


@mixin mainContent {
    width: $dimension;
    margin: $margin;
    background-color: $colorBody;
    @include flex;
}

@mixin mainContLi {
    width: 25%;
    @include flex2;
    background-color: $colorBody;
    color: grey;
    margin: 30px;
    text-align: $text_align;
}

@mixin header {
    margin: $margin;
    width: $dimension;
    height: 100px;
    background-color: $colorBody;

}

@mixin default {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@mixin span {
    margin: 10px;
    text-align: $text_align;
}
